[2020-03-20 11:52] mcdonnelldean opened #477 "Spike Deployment to AWS & Azure equivalent services"
Content to follow

[2020-10-28 12:11] mcollina opened #596 "Integrate with AWS Secrets Manager"
Following up  #522, we should add support for the AWS Secrets Manager

[2020-11-05 18:48] kurdin opened #598 "Update React Scripts version to work with Lerna (without patch)"
Related Issue:  https://github.com/facebook/create-react-app/issues/8685

Currently latest version of React Scripts not working with Lerna correctly (see related issue). We have to use patch to make it works.

We want to remove this patch in few month when updated/fixed version React Scripts is released.

[2020-11-06 09:34] simoneb opened #599 "Integrate fastify-casbin plugins within titus"

[2020-11-06 09:34] simoneb opened #600 "update dependencies"
possibly find an automatic way to keep the dependencies up to date

[2020-11-07 15:58] renovate[bot] opened #602 "Dependency Dashboard"
This issue contains a list of Renovate updates and their statuses.

## Pending Status Checks

These updates await pending status checks. To force their creation now, click the checkbox below.

 - [ ] chore(deps): update storybook monorepo to ^6.3.7 (`@storybook/addon-a11y`, `@storybook/addon-actions`, `@storybook/addon-docs`, `@storybook/addon-links`, `@storybook/addons`, `@storybook/react`)
 - [

[2020-11-09 15:18] mcdonnelldean commented on #477
Done in Taurus, releasing soon.

[2020-11-10 16:42] simoneb commented on #600
Done by enabling and configuring Renovate

[2020-11-10 16:42] #600 closed

[2020-11-11 08:58] simoneb commented on #598
@kurdin we've set up automatic dependency upgrades in this monorepo via Renovate, which opened this PR which is not going to be merged automatically because the build fails: https://github.com/nearform/titus/pull/626

Do you know if there is a way to move it forward or should we just postpone this upgrade?

[2020-11-26 18:23] #596 closed

[2020-11-27 15:33] codyzu opened #635 "Update to node 14"
Node 14 is LTS but the `.nvmrc` file in Titus is node 12. Node 12 will be in maintenance LTS on 30 November 2020.

[2020-12-01 14:56] feugy opened #636 "Failing test from Mira package"
### Reproduction steps and actual behavior

On a fresh clone, run all the tests:
[code]

Then you'll get errors from Mira package:
[code]

(repeated several times)

### Expected behavior?

All tests should pass.

### Configuration

Running on Ubuntu 20.04.1, 64x, node 14.12

[2020-12-01 15:02] simoneb commented on #636
There is a chance that it may be related to upgrading package versions automatically. I have tried to be careful to avoid bumping packages which I knew would be causing issues, like the AWS CDK ones (you can see that reflected in the Renovate configuration), but I believe mira was upgraded by a minor version, for instance.

[2020-12-01 16:46] irelandm commented on #636
Yes, generally things break if there is *any* discrepancy with CDK versions

[2020-12-01 16:52] simoneb commented on #636
@irelandm there shouldn't be any discrepancies with cdk versions:

- the version of mira that's being used is [1.4.1](https://github.com/nearform/titus/blob/master/packages/titus-infra-aws-mira/package.json#L55)
- which [uses cdk 1.67.0](https://github.com/nearform/mira/blob/v1.4.1/package.json#L27)
- and titus [uses that too](https://github.com/nearform/titus/blob/master/packages/titus-infra-aws-

[2020-12-01 16:55] irelandm commented on #636
Thanks Simone. I've asked Ron to look into it. He's new to Mira and probably Titus, but has time to explore it.

[2020-12-01 16:58] irelandm commented on #636
You can see the CDK version bumps for Mira here: https://github.com/nearform/mira/releases

[2020-12-01 18:04] litzenberger commented on #636
Was not able to recreate issue.  I had to add one more step and that was to `titus/packages/titus-frontend npm run build`
Once I did that all tests passed
[code]

[2020-12-03 10:16] feugy commented on #636
Hello gents.

Sorry to bother, but I'm still having the issue:
- I dropped the node_modules
- fetch latest titus code
- installed dependencies
- ran `npm run build`: here is the outcome:
[code]

Since in titus' [quick start guide](https://nf-titus.netlify.app/#/quick-start/) does not mention anything about building Mira, we should consider either changing it, or build after installing.

Running th

[2020-12-03 10:35] simoneb commented on #636
@feugy did you try a more typical lerna approach:

[code]

[2020-12-03 10:44] feugy commented on #636
I wasn't aware of it :sweat_smile:

But unfortunately, it doesn't work:
[code]

For the sake of testing, I've removed the titus-frontend build scripts and retried:
[code]

[2020-12-03 10:50] simoneb commented on #636
Ok so it may be two related issues. The reason why the frontend doesn't build is the version of babel-loader and for some reason it's getting a version it doesn't like. That's the first issue to solve. See if you have the SKIP_PREFLIGHT_CHECK in the frontend .env file, in theory that should work.

[2020-12-03 11:08] feugy commented on #636
I don't because I haven't run `lerna run create:env`, which creates the `.env` file so that we can build the frontend.

I'm playing dumb here: but if you say lerna users are used to bootstrap+build, then we'll have to make it work for them.

[2020-12-03 11:12] simoneb commented on #636
The setup instructions should be documented here https://nf-titus.netlify.app/#/quick-start/

[2020-12-07 08:51] codyzu opened #641 "Add DB migration undo functionality"
The db manager migration script does not pass a version parameter to Postrator. By default, Postgrator migrates to the maximum version.

Allowing a version parameter would allow Postgrator to rollback or undo migrations.

Most likely this would require reworking the terminal parameter parsing to allow for an additional parameter and then passing that to Postgrator.

[2020-12-07 15:54] codyzu opened #642 "Confusing route prefixes"
Titus routes are automagically added with [fastify-autoload](https://github.com/fastify/fastify-autoload). This happens [here](https://github.com/nearform/titus/blob/28682c1b11bd8958f78d23b79c2688325117aa50/packages/titus-backend/lib/server.js#L17). The fasitfy-autoload [`dirNameRoutePrefix` option](https://github.com/fastify/fastify-autoload#global-configuration) is not set. As noted in the docum

[2020-12-08 10:21] simoneb commented on #642
I think this is an oversight. I would suggest to use fp for all the plugins in order to avoid unwanted prefixes and make them all consistent. Please also fix any request hitting the /log/log endpoint currently, if any.

[2020-12-08 15:40] codyzu commented on #642
This is probably a problem with the perfectionist in me... I'm not a big fan of auto-loading plugins.

The downside of using fp everywhere is that prefixes will no longer work. While this is ok for simple cases, it really eliminates some of the benefits of auto-loading where you could build a hierarchy with the directory structure (imagine a `v1` and `v2` directories). Using fp everywhere would fo

[2020-12-08 16:21] codyzu commented on #642
I thought about this a bit more... would it make more sense to simply remove rp from the health and user pugins. Then fix up the route URLs so that they are consistent?

rp removes the [plugin isolation](https://www.fastify.io/docs/latest/Plugins/#handle-the-scope) and allows decorated properties to be used by other properties. AFAIK these plugins don't need rp. :thinking: Then the prefixing from

[2020-12-08 16:43] simoneb commented on #642
I don't have any specific preference as long as we use a consistent approach really

[2020-12-08 17:44] mcdonnelldean commented on #642
@codyzu Go for it!

[2020-12-09 17:12] codyzu opened #643 "Broken husky hooks"
I experienced 2 issues with the lint staged:

1. when committing changes to multiple packages, lint-staged with lerna exploded :boom: I had to skip the hooks to commit. I'll post the console output in a follow up comment. This probably requires the concurrency setting with lerna `lerna run lint:staged --concurrency 1`
1. husky v5 is not backwards compatible with v4 which was merged in #640 . See t

[2020-12-09 17:14] codyzu commented on #643
Here is the output from the faling lint-staged:

[code]

[2020-12-14 15:21] simoneb opened #648 "Document brokeneck integration in docs"
brokeneck was integrated in https://github.com/nearform/titus/pull/629 but there is no documentation around it. Some docs should be written about how to set it up.

[2020-12-15 09:58] #643 closed

[2020-12-16 14:33] skywickenden commented on #635
Unfortunately [AWS lambdas don't support 14 yet](https://docs.aws.amazon.com/lambda/latest/dg/lambda-runtimes.html) so the `titus-infra-aws-mira` example can't be updated. We should wait until it is available before we go ahead.

[2020-12-16 15:57] mcollina commented on #635
Please let's start updating CI so that we start running all the tests and builds using v14 as well, e.g. https://github.com/nearform/titus/blob/679e6ea4fd586c0634441a06beb2f23fcedc3bde/.github/workflows/backend-ci.yml#L22.

[2020-12-16 16:37] simoneb commented on #635
closed by #652

[2020-12-18 14:56] #642 closed

[2021-01-02 00:15] MattLongCode opened #655 "Docs suggestion: pgAdmin connection to titus-db container"
When creating a pgAdmin connection to titus-db Docker container on development machine, you must specify the gateway ip that is output from `docker inspect titus-db` instead of the host e.g. specify `172.21.0.1` instead of `0.0.0.0` in order to get a successful connection.

This may be valuable to add to documentation.

[2021-01-02 09:55] simoneb commented on #655
The docker-compose file is [exposing the postgres db to the host on the default pg port](https://github.com/nearform/titus/blob/master/docker-compose.yml#L13), so you don't need to do anything special if you're running pgAdmin on the host machine, you can simply use the loopback address 127.0.0.1 or localhost

[2021-01-02 13:27] MattLongCode commented on #655
@simoneb Yes was running a pgAdmin Docker container on my host machine, port 4352 exposed on titus-db correctly but it didn't work for me for some reason. I'll close this issue as it should work for others, and it's probably too specific to include in docs.

[2021-01-02 13:27] #655 closed

[2021-01-02 17:28] simoneb commented on #655
@MattLongCode note that you misspelled the port, it's 5432, not 4352. Perhaps double check if that's the reason why it's not working for you.

[2021-01-04 15:14] kurdin commented on #598
@simoneb looking at this right now.

[2021-01-04 16:02] simoneb commented on #598
thanks @kurdin, let's try to get this to work without the patch, especially because it's not really clear why the patch is needed in the first place. there isn't much going on in titus frontend anyway, so I don't see a good reason why we shouldn't be able to use the latest react-scripts

[2021-01-04 16:11] kurdin commented on #598
@simoneb We going to use Titus on our next project, so I want to make sure we use latest `react-scripts`
I added patch to fix critical vulnerabilities and to make sure updated `Lerna` works with `react-scripts 3.x`  (it did not)
Now with  `react-scripts 4.x` version they fixed that problem so we don't need that patch.
Everything seems to be fine but 2 tests are failing after `react-scripts 4.x` up

[2021-01-04 16:13] simoneb commented on #598
I do not have any ideas about the above tests but please shout if you need any help.

[2021-01-04 18:01] kurdin commented on #598
@simoneb fixed tests and merged PR, https://github.com/nearform/titus/pull/626
Thanks for your help!

[2021-01-04 18:01] #598 closed

[2021-01-05 12:11] simoneb opened #656 "Remove unnecessary packages"
It seems that some packages are no longer used in  titus-frontend:

[code]

make sure they are indeed not necessary (some may be used even if not referenced directly, as it may be peer dependencies of other packages), and remove those which are not used

[2021-01-05 15:47] simoneb opened #657 "Implement authorization via fastify-casbin"
Please refer  to #594 as a starting point and implement something similar for auth0 and azure as well.

### Expectations

- [ ] the UI should show a button which performs a dummy action in the backend
- [ ] remove the unnecessary logic around listing and deleting users that's in #594, we don't want to overlap the authorization functionality and the interaction with the auth providers
- [ ] the dum

[2021-01-05 17:02] simoneb opened #658 "Verify cognito token instead of simply decoding it"
The cognito JWT token is only decoded and not verified. We should also verify it before decoding it to showcase best practices. The current approach is not secure.

This could use a library or a fastify plugin, unless one exists already. There is probably something similar implemented in https://www.npmjs.com/package/fastify-auth0-verify, we could consider either generalizing it or creating a cogn

[2021-01-05 17:05] skywickenden commented on #656
Typescript is needed by eslint due to overriding `eslint-config-react-app` which is probably coming from `react-scripts`. The two eslint plugins may also be related to this. Can we please add something to [the docs](https://nf-titus.netlify.app/#/developers/packages/titus-frontend/?id=test-and-lint-the-frontend) about this.

[2021-01-09 07:54] #656 closed

[2021-01-17 10:02] #657 closed

[2021-01-21 10:56] mcollina opened #684 "refactor healthcheck"
under-pressure is currently set up only for the healthcheck while it should be set up for all routes. Morever, it should use https://github.com/fastify/under-pressure#status-route and https://github.com/fastify/under-pressure#custom-health-checks instead of building its own route.

[2021-01-21 11:20] simoneb commented on #599
done in https://github.com/nearform/titus/pull/594

[2021-01-21 11:20] #599 closed

[2021-02-02 10:27] p16 commented on #684
@mcollina when replacing the custom `/healthcheck` url with the `under-pressure` one there is a catch to consider.

Right now Titus `/healthcheck` returns an object of this form

[code]

With `under-pressure` we can do the same checks Titus does, but we cannot change the response to match the above object ([it will always be `{ status: 'ok' }`](https://github.com/fastify/under-pressure/blob/441c55

[2021-02-02 11:00] mcollina commented on #684
Let's make that configurable in under-pressure

[2021-02-02 13:19] p16 commented on #684
@mcollina I would change the [`onStatus`](https://github.com/fastify/under-pressure/blob/441c552d8af55657dcd15ac8b592273605b14dca/index.js#L199) function to allow `healthCheck` to return

 - false/true
 - object

In case an object is returned, under-pressure will merge it with `{ status: 'ok', ...<result healthCheck call> }`.

Would that be fine? should I create an issue in https://github.com/fast

[2021-02-02 14:06] simoneb commented on #684
yeah let's extend under-pressure to support returning a custom response if @mcollina agrees

[2021-02-02 14:11] mcollina commented on #684
Go ahead and send a PR and refer to this issue. This is open source anyway.

[2021-02-02 14:38] p16 commented on #684
@mcollina @simoneb PR in `under-pressure` is here https://github.com/fastify/under-pressure/pull/84

[2021-02-04 08:57] #684 closed

[2021-02-11 17:12] Peterabsolon opened #713 "Jest version conflict in titus-frontend prevents build without skipping preflight check"
The frontend package cannot be built without `SKIP_PREFLIGHT_CHECK=true`. Currently that's being set by default by `npm run create:env`, but that could _potentially_ lead to issues in the long run.

[code]

[2021-02-12 16:49] #713 closed

[2021-02-16 12:45] codeflyer commented on #635
To solve this issue an update to Mira is required.
There is a task already assigned to @nigelhanlon to update Mira to the latest CDK version.

[2021-02-16 13:32] simoneb commented on #635
@codeflyer @nigelhanlon is that issue linked to this one then?

[2021-02-16 13:54] codeflyer commented on #635
The link to the Mira Maintenance task:

https://github.com/nearform/mira-archive/issues/434

[2021-02-17 11:22] nigelhanlon commented on #635
Currently, there are a number of build errors when trying to use CDK v1.89.0 with Titus. Below is the output of `npm run build`.  I am attempting to resolve them so we can use the pending Mira update.

[code]

[2021-02-18 11:40] nigelhanlon commented on #635
The published beta version of Mira (1.5.0-beta) seems to fix all of the previous build errors except for a minor change needed in the Database Instance. The build now completes successfully and all tests pass.

I will open a PR with the fix and the updated package.json file.

I need to do a test deployment to make sure it all actually works but that may take a little while longer to complete.

[2021-02-18 11:43] simoneb commented on #635
Sounds great @nigelhanlon. Check with @codeflyer if you need help with the deployment.

[2021-02-18 15:22] nigelhanlon commented on #635
@codeflyer if you already have an env available to test, I would appreciate it if you could take a look at https://github.com/nearform/titus/pull/729 and see if it deploys correctly. If you don't have the time, I can try and replicate what you have and try myself.

[2021-02-27 07:33] #635 closed

[2021-03-04 09:24] simoneb commented on #658
use get-jwks

[2021-03-08 07:54] kurtmilam opened #756 "Swagger not working out of the box due to Content Security Policy conflict"
Swagger UI includes inline JavaScript, CSS styles and images. Due to the CSP set by `fastify-helmet`, the browser refuses to evaluate these resources, and the screen remains blank.

The fix I implemented locally involves updating `fastify-swagger` and `fastify-helmet` to the latest versions and updating two files (`lib/server.js` and `index.js`) and one test file (`lib/server.test.js`) in the back

[2021-03-08 07:57] simoneb commented on #756
Thanks Kurt, I would appreciate if you could send a PR. If you can't, we can even consider handling that ourselves based on your description above.

[2021-03-08 08:37] kurtmilam commented on #756
I forked the repo to prepare a PR, but `npm run test:all` isn't passing due to some failures in `titus-infra-aws-mira` tests. I'm confident the `mira` test failures aren't related to the changes required for this PR. It's possible I missed a required config / set up step. I ran `npm run create:env` before `npm run test:all`, but that's it.

My assumption is that `mira` tests are failing due to upd

[2021-03-08 08:38] simoneb commented on #756
You can ignore mira tests, you're probably missing some setup in your environment but they're not important for the sake of this change.

[2021-03-08 08:41] kurtmilam commented on #756
Cool - the changes I made are all in `titus-backend`, and that test suite passed, so I'll open a PR.

![image](https://user-images.githubusercontent.com/385695/110296175-4f0d0a80-7ff2-11eb-8242-d666f91c7043.png)

It might make sense to update the contributing guidelines with new instructions, since the current ones state that `npm run test:all` must pass in order for a PR to be accepted.

[2021-03-08 08:43] simoneb commented on #756
They are expected to pass, I'll get somebody to look into why they don't.

[2021-03-08 12:48] inigo-garcia commented on #636
@feugy I've been trying to reproduce the bug but following the documentation and running similar commands as  @litzenberger , everything looks fine. Tests and CI ran OK.

[2021-03-08 12:58] simoneb commented on #636
@inigo-garcia in order to close this issue we need to make sure that CI runs the same commands that the quickstart shows and that this issue is about

[2021-03-08 15:30] inigo-garcia commented on #636
We have done a small improvement with the documentation to remark the importance of building the project before running the tests.

Please, feel free to reopen the issue if you continue experiencing issues. We recommend to follow the documentation step by step and it should work as expected.

[2021-03-08 15:30] #636 closed

[2021-03-09 16:37] #756 closed

[2021-03-17 11:31] #658 closed

[2021-03-25 10:00] ovhemert opened #787 "Deploy on GCP issues"
Followed [the steps](https://nf-titus.netlify.app/#/devops/gcp/?id=deploy-titus-on-gcp) in the documentation to deploy Titus to GCP, but some parts are still missing to get it right the first time.

- There needs to be a bucket available for TF to store state, but there is no mention of it in the docs that this needs to be created manually before running `terraform apply`. When just running this c

[2021-03-29 08:03] simoneb commented on #787
@ovhemert @Peterabsolon a few notes that you're probably aware of already, adding for tracking:

- we need to fix the GCP deployment, in particular with regards to the DB. It should work out of the box. The main issue I found (after those that were already fixed by @ovhemert) were permissions on the account used by the backend and db-manager projects. I couldn't find a way to modify those user's p

[2021-04-06 06:59] #787 closed

[2021-05-04 09:04] kurtmilam opened #851 "createEnv / cleanEnv scripts introduce hard dependency on matching package names with containing directory names"
### Background

It is my understanding that neither lerna nor yarn workspaces require a package's name and the name of the directory that contains the package to match.

In other words, it should be possible to have a package at `packages/pkg-dir/` with the package name of `"pkg-name"`.

### Problem

The `createEnv` and `cleanEnv` scripts (in `/lib/tools.js`) introduce such a requirement because t

[2021-05-04 09:06] mcollina commented on #851
A side question: should we drop lerna and move to [npm workspaces](https://docs.npmjs.com/cli/v7/using-npm/workspaces)?

[2021-05-04 09:09] kurtmilam commented on #851
Unfortunately, I don't have detailed notes on this, but when I took a look at npm workspaces when they were first released, they did not seem as full featured as lerna and/or yarn workspaces.

We're working with titus, have kept lerna and have added yarn workspaces to the mix. This seems to be working well, so far.

The project is React + React Native (expo) + fastify.

[2021-05-04 09:10] simoneb commented on #851
@kurtmilam can you explain why you think we should allow package names to be different from the containing folders? I think it's a good practice to do that to keep consistency and avoid confusion

@mcollina my take on that is, not until npm@7 ships with node LTS, otherwise people have to juggle back and forth between node versions and install npm versions on their node distros which is not the def

[2021-05-04 09:13] kurtmilam commented on #851
@simoneb lerna and yarn workspaces think it should be possible to have a package name that doesn't match the name of the containing directory.

It's specifically an issue when a package name needs to be namespaced, (e.g. `@acme/utils`).

[2021-05-04 09:15] simoneb commented on #851
@kurtmilam if you have built this solution in another project, can you submit it as a PR here?

[2021-05-04 09:18] kurtmilam commented on #851
Yep - I will try to get to that this week (as I noted in an edit to the issue description).

[2021-05-04 09:31] mcollina commented on #851
The target is October 2021.

[2021-05-05 11:12] #851 closed

[2021-05-07 08:37] simoneb opened #862 "Port frontend to Vite"

[2021-05-14 13:04] mcollina opened #873 "updated husky to v6"
As titled

[2021-05-14 14:04] #873 closed

[2021-05-19 11:27] kurtmilam opened #884 "Questions about Azure AD auth plugin (titus-backend)"
I believe this plugin contains some bugs, mostly centered around incorrect usage of `axios`. It is possible other auth plugins contain the same bugs, although I have not checked.

Additionally, I wanted to ask whether the plugin creation is handled correctly, since we're getting an error in this plugin when we start the back end after updating to the latest version of `fastify`, [v3.15.1](https://

[2021-05-20 21:09] kurtmilam commented on #884
I have a long weekend and won't be back until Tuesday. Also, our project has diverged pretty far from Titus, and the current local state of this plugin is very WIP. I'll try to put something together that's PR-worthy, but I believe the backend service will fail to load if `AUTH_PROVIDER` is set to `'azureAD'` in the `.env` file, unless I also pin fastify to the penultimate version.

Aside: I'd rea

[2021-05-23 14:00] simoneb commented on #884
@kurtmilam see the linked PR #886 . Also see the fix for fastify@3.15.1 [here](https://github.com/nearform/titus/pull/864/files#diff-f2167a0181319ac61d3089babff9999db671bc94939b3bd47dbbfd669fe3507fL109-R109).

[2021-05-24 13:28] #884 closed

[2021-05-24 13:54] kurtmilam commented on #884
@conor909 See Simone's link to the fix for fastify and also a PR that fixes up the axios usage.

@simoneb Thanks!

[2021-06-15 09:44] simoneb opened #923 "Switch from lerna to npm workspaces"
This should be done in a branch which assumes Node 16 and hence npm@>=7, without porting it to the main branch until Node 16 is LTS.

We should collect some takeaways in order to figure out how npm workspaces work and what they're missing compared to lerna / yarn workspaces.

[2021-06-16 07:34] kurtmilam opened #924 "Add schema-awareness and support for multiple migration directories to titus-db-manager"
# Problem

As currently implemented, `titus-db-manager` has some serious issues relating to schemas and migration directories.

The most pressing issue is that the service's test migrations are applied to the `public` schema, the service's tests drop and recreate the `public` schema, and postgrator schema migration versions are stored in `public.schema_migrations`.

That's obviously not good for p

[2021-06-16 07:44] kurtmilam commented on #924
Two quick follow-up points:

1. I like the idea of having a small, dedicated service that stores and processes migrations. Migrations often just end up stored in a backend service, which sometimes complicates deployments. Personally, I would prefer to keep this service in titus.
2. If you assign this to someone on the bench, I can share my implementation with them privately.

[2021-06-21 14:28] miguelarias-nf opened #928 "Titus deployment into Azure using CD"
Deployment of Titus accelerator into Azure cloud.

[2021-06-23 16:56] spchortis opened #931 "Deploy to AWS using Terraform"
We would like to have an alternative way in order to deploy TITUS in AWS instead of Mira.
The idea is to have a set-up using Terraform which would provide us with all the benefits of IaC.

The architecture diagram that is already been used with Mira might slightly change in terms of simplicity in case we see fit without compromising in security or performance.

[2021-06-24 11:59] spchortis opened #933 "Update Terraform to version 1.0.0"
Since Terraform released a new major version, which seems to be similar to 0.15.5, it makes sense to update any infra related code which runs with Terraform to version 1.0.0.

Syntactical code modifications, if any, expected to be addressed as part of this issue.
Current TF version is 0.14.0

[2021-07-06 15:58] #928 closed

[2021-07-07 15:05] mahdikoutizadeh opened #952 "Setting up Cypress"

[2021-07-07 15:06] mahdikoutizadeh opened #953 "Integrate Google Lighthouse with Cypress"

[2021-07-07 15:06] mahdikoutizadeh opened #954 "Integrate Cypress with Storybook"

[2021-07-07 15:06] mahdikoutizadeh opened #955 "Integrate Cypress with Browserstack"

[2021-07-07 15:07] mahdikoutizadeh commented on #952
Cypress setup will consists of the following:

1. Set up Cypress locally
2. Add Cucumber BDD
3. Run tests based on tags
4. Add API testing
5. Add Page Object Model (POM)
6. Reporting
7. Add multiple environment support
8. Better run commands
9. Report logs
10. XPath support

[2021-07-27 15:34] #477 closed

[2021-07-28 08:56] Vunovati opened #986 "Align backend Dockerfiles with the current security best practices"
There's been a very nice [blog post by Snyk](https://snyk.io/blog/10-best-practices-to-containerize-nodejs-web-applications-with-docker/) listing some best practices for Dockerfiles. Currently, Titus backend is not using most of them. It would be useful to have the best practices applied by default, as usually, security is an afterthought. I don't think making those changes would get in anyone's w

[2021-07-29 08:47] #986 closed

[2021-07-30 10:08] Vunovati opened #994 "Create deployment mechanism for Kubernetes"
We could use a Helm chart for Titus, which would speed things up for us when having to deploy it to Kubernetes.

A very useful feature to have would be to have the chart invoke database schema migrations from the Titus-DB-manager (by using [postgrator](https://www.npmjs.com/package/postgrator)) on deployment.

To do that, we need to replicate a pattern where one can run a one-off process that is s

[2021-07-30 10:16] Vunovati opened #995 "Make it possible to run db:migrate npm script from a titus-database-manager container"
Currently, it is not possible to run the container with the params `npm run db:migrate`.

This makes it impossible to run a migration unless the container is running as a service.
That is due to missing files in the Docker container.

This is a requirement for #994

[2021-07-30 12:55] david-freistrom commented on #994
Andrelock's Blog shows overengineered to handle a problem which actually not exist if you run kuberetes with default settings and a common DB migration framework which versioned your schema definitions.

Kubernetes deployment strategy by default is [rolling-update](https://kubernetes.io/docs/concepts/workloads/controllers/deployment/#rolling-update-deployment) which replaces pods one by one by cre

[2021-07-30 13:56] Vunovati commented on #994
The solution you are proposing is good because it is simple. Unfortunately, this simplicity stems from some assumptions which are not always necessarily true.

1. Migrations are indempotent. - not necessarily the case. It is a best practice to make them transactional but it is not enforced and can easily be omitted. The original approach is also more useful as it could be reused for other non-idem

[2021-07-30 13:57] simoneb commented on #994
Let's keep the current approach which uses a Job for now, we can reconsider next. It's good to have multiple options though. Thanks both for the ideas!

[2021-08-02 08:28] #995 closed

[2021-08-03 08:25] simoneb opened #1004 "Support Azure KeyVault to store DB password in Azure deployment"

[2021-08-04 14:30] leorossi commented on #1004
#1010  has been merged, and covers `titus-backend`, next step is working on the infrastructure side, creating a new KV which will store the password

[2021-08-05 08:45] #931 closed

[2021-08-06 13:09] #994 closed

[2021-08-07 15:47] #933 closed

[2021-08-09 13:53] david-freistrom opened #1021 "Add Secret Store CSI support to Helm chart"
Add documentation how to prepare a kubernetes cluster (vault and csi provider) by using secrets via CSI interface from external vault storage like Hashicorp Vault or Cloud Secret storages.

Add optionally secret provider classes for titus secrets to our helm chart when csi is enabled.

Show examples how to mount secrets as csi volume as well as sync secrets to kubernetes and use it as environment

[2021-08-11 08:28] #1004 closed

[2021-08-11 08:37] #1021 closed

[2021-08-11 13:10] david-freistrom opened #1029 "Check for GCP workflow improvements"
Check if there are possible improvements for github actions deploy to GCP

[2021-08-11 14:05] #1029 closed

[2021-08-13 09:27] simoneb opened #1038 "Move from Renovate to Dependabot"
Dependabot used to be unable to work in monorepos. Now it can so we should switch to it.

When decommissioning dependabot we need to:

- remove the config file from the repo
- close the issue it opened to keep track of dependency upgrades
- disable it in the repo

[2021-08-13 09:34] #602 closed

[2021-08-13 10:04] #1038 closed

[2021-09-13 14:43] mcollina opened #1137 "use close-with-grace"
https://github.com/mcollina/close-with-grace

[2021-09-13 15:03] simoneb opened #1138 "Create typescript package of titus-backend"
To start new projects with a typescript backend, we should have a new package in the monorepo called titus-backend-typescript, which follows the fastify recommendations for setting up projects in typescript: https://www.fastify.io/docs/latest/TypeScript/

We should strive to keep the source code aligned and most similar to the plain JS codebase to avoid the two diverging too much. Ideally, the onl

[2021-09-15 10:36] #1137 closed

[2021-09-23 08:24] capaj commented on #1138
I will pick this up later today

[2021-09-23 08:35] simoneb commented on #1138
@capaj because this is a repo in our org, you can assign the issue to yourself :)

[2021-09-29 09:35] #954 closed

[2021-09-29 09:35] #953 closed

[2021-09-29 09:35] #952 closed

[2021-09-29 09:35] #955 closed

[2021-11-02 09:08] simoneb commented on #1138
Closed by #1177

[2021-11-02 09:08] #1138 closed

[2021-11-17 16:36] Eomm commented on #923
Blocked by https://github.com/npm/cli/issues/4056

[2021-12-12 20:05] simoneb commented on #862
Closing as won't fix.

[2021-12-12 20:05] #862 closed

[2021-12-14 09:19] #924 closed

[2021-12-20 09:01] simoneb opened #1453 "Fix broken build"
Appartently there's a localhost url in some package-lock file. Let's fix it.

[2021-12-20 15:19] #1453 closed

[2021-12-31 16:14] simoneb opened #1463 "Use Node 16 everywhere"

[2021-12-31 16:15] #1463 closed

[2021-12-31 16:19] simoneb opened #1464 "Review CI/CD pipelines to improve setup, images size and so on"
Based on the experience done on the promo spike

[2022-01-03 10:12] mablanco commented on #1464
Added vulnerability scan to `titus-backend` Docker image, which has uncovered a lot of vulnerabilities. Regarding size, not much can be done to reduce it as the generated `node_modules` directory makes for the majority of the consumed space.

[2022-01-03 10:17] simoneb commented on #1464
Is there anything we can do in terms of size by only including production dependencies? Unless it's already being done of course

[2022-01-03 10:35] mablanco commented on #1464
It seems it's already being done with the `npm ci --only=production` command in the Dockerfile.

[2022-01-03 10:44] mablanco commented on #1464
Added vulnerability scan to `titus-db-manager` Docker image, which has uncovered a few vulnerabilities.

I've been able to reduce just 4MB in a 286MB Docker image. I've checked that Node itself takes up to 100MB of space in every image based on the Alpine one.

[2022-01-03 10:48] simoneb commented on #1464
Ok understood. Then I guess this is as much we can do in terms of image size. When you're happy with the changes please create a PR. One more thing we may look into is how we structure the frontend. In the spike you did in the last days you're using nginx, I'm not sure what we're using here.

[2022-01-03 10:57] mablanco commented on #1464
NGINX is already in use in the frontend.

[2022-01-03 11:26] simoneb commented on #1464
Awesome, thanks for checking that. Another thing which may be worth looking into is all the infra as code for all the different cloud providers. It's been there for some time and it may use some revamp.

[2022-01-03 11:45] mablanco commented on #1464
Added optimizations to both frontend images. The execution of the storybook workflow fails, but I've checked that it also fails using the master branch version, so it seems to be a code issue.

[2022-01-03 11:46] simoneb commented on #1464
Yes I've noticed the storybook failure as well.

[2022-01-03 11:48] simoneb opened #1465 "Storybook deployment fails"
https://github.com/nearform/titus/runs/4674913701?check_suite_focus=true

[2022-01-03 11:53] mablanco commented on #1464
The `titus-frontend` image just weights 28MB, so not much to do there regarding size (one of the advantages of using NGINX to serve a static app).

This image has just one vulnerable package, although with 3 vulnerabilities (1 high and 2 medium).

[2022-01-03 12:00] simoneb commented on #1464
In most cases there is not much we can do about those vulnerabilities, all we can do is keep packages up to date (which we are already doing) to make sure we are always up to date.

[2022-01-03 12:01] mablanco commented on #1464
And update base images periodically.

[2022-01-03 12:02] mablanco commented on #1464
I've checked that the `storybook` image fails in the `npm run storybook:build` step of the Dockerfile. What can be done to fix that?

[2022-01-03 12:04] simoneb commented on #1464
Ah yes good point. This can be done with dependabot. Can you set it up please? See https://docs.github.com/en/code-security/supply-chain-security/keeping-your-dependencies-updated-automatically/configuration-options-for-dependency-updates#package-ecosystem

[2022-01-03 12:04] simoneb commented on #1464
I created #1465 to look into it, a developer can pick it up.

[2022-01-03 12:16] mablanco commented on #1464
I'm finished with the Docker images optimization, shall I open the PR (despite storybook not working)?

[2022-01-03 12:29] simoneb opened #1467 "Use dependabot to keep docker images up to date"
See https://docs.github.com/en/code-security/supply-chain-security/keeping-your-dependencies-updated-automatically/configuration-options-for-dependency-updates#package-ecosystem

[2022-01-03 12:44] mablanco commented on #1467
I have to make sure this is possible with Docker images. We should use specific tags and not generic ones (like latest). I have to study if this best practice is compatible with dependabot.

[2022-01-03 13:12] simoneb commented on #1467
I would prefer to use the latest within a certain major version. For packages it's a different thing, but for runtime images using for example Node 16 latest is safe enough.

[2022-01-03 14:31] mablanco commented on #1467
In that case, I don't think we need dependabot for keeping images up to date, as the CI/CD workflow will always pull the most recent image from tags like `node:16-alpine`. Unless we want dependabot to trigger the workflow when a new version of the base image is published under that tag. What do you think?

[2022-01-03 14:37] simoneb commented on #1467
No not really, we don't want to trigger a deployment when a new version is published under that tag, we are happy that whenever we deploy it will use whatever version is linked to that tag. Then I guess we can decide to close this issue.

[2022-01-03 15:07] mablanco commented on #1467
In that case, we'd better go without **dependabot** and leave the decision of deploying in the devs hands through a PR.

Just for the record, I've found out that following Docker tagging best practices is compatible with **dependabot**: https://dev.to/oracle2025/how-to-keep-a-dockerfile-updated-with-dependabot-1mdn

[2022-01-03 15:07] #1467 closed

[2022-01-03 17:35] mablanco commented on #1467
As a known drawback for using generic tags instead of full version pnes, we won't be able to produce reproducible builds.

[2022-01-03 17:49] simoneb commented on #1467
True but Node is an extremely stable framework, so stable that in fact I would expect most applications to work flawlessly across major versions. Hence I think we can accept the compromise of using whatever latest version 16.

[2022-01-04 16:22] #1464 closed

[2022-01-05 14:39] noodny opened #1472 "Storybook fails to start locally"
This came up while working on https://github.com/nearform/titus/pull/1471.

Storybook fails to start due to a bug in a release of [react-refresh](https://www.npmjs.com/package/react-refresh), which is being used by [@storybook/preset-create-react-app](https://www.npmjs.com/package/@storybook/preset-create-react-app). Due to a fix not being published for a couple of months, the most reasonable way

[2022-01-05 14:42] Eomm commented on #1472
Sidenote: updating react-scripts to 5, should unblock #923: now the installation fails due d conflict generated by `react-scripts@4`

[2022-01-05 16:37] #1465 closed

[2022-01-05 16:45] simoneb commented on #1472
@Eomm I tried to do it a few days ago on a PR that dependabot had opened and I wished I hadn't tried. I found myself in a vale of tears

[2022-01-05 16:45] simoneb commented on #923
How do we release packages when we remove lerna?

[2022-01-06 10:20] #1472 closed

[2022-01-10 08:40] zimny opened #1474 "Unknown bucket name hardcoded in aws/terraform"
https://github.com/nearform/titus/blob/master/infra/aws/terraform/cdn.tf#L42 you can find reference to a bucket called `vittle.ai` which is not defined in the infra code.

Ideally CloudFront should reference with OAI (https://docs.aws.amazon.com/AmazonCloudFront/latest/DeveloperGuide/private-content-restricting-access-to-s3.html) bucket created within the terraform code.

[2022-01-10 08:42] zimny opened #1475 "Unknown IP whitelisted in SG"
https://github.com/nearform/titus/blob/master/infra/aws/terraform/backend.tf#L254 creates and inbound sg rule that is opening port 80 for 1.1.1.1 IP which seems pretty arbitrary. NLB normally has no static IP like that, the task is to investigate the purpose of this rule and potentially remove it.

[2022-01-10 08:46] zimny opened #1476 "Cloudfront is pointing origin into ELB instead of API gateway"
https://github.com/nearform/titus/blob/master/infra/aws/terraform/cdn.tf#L26 in here cloudfront is pointing one of the origins into ELB, this is not like in the diagram. I'm confused on what is desired behaviour.

The task is to first identify desired flow for the dynamic requests and update either diagram or the code to reflect it.

[2022-01-10 08:49] zimny opened #1477 "Documentation for getting started seems not correct"
When I tried to follow the getting started docs for the infra https://github.com/nearform/titus/tree/master/docs/devops/aws I found some information missing. Additionally, it is hard to define whether the code working as expected as there's no landing page available.

The task is to verify if the getting started docs allow user to get a basic 3 tier web app hosting and if not, report what is the c

[2022-01-10 10:06] mablanco commented on #1475
1.1.1.1 is a free DNS service by Cloudflare. The service functions as a recursive name server providing domain name resolution for any host on the Internet. Therefore, it should generate only answers to DNS requests, not HTTP requests to our NLB.

I'll investigate further to be sure of the purpose of the rule.

[2022-01-10 11:26] mablanco commented on #1475
I've checked the specific commit that added this block of code (https://github.com/nearform/titus/pull/983/commits/4a0c9c832d4ca7b981c042203adefd4899d197ea) and there's nothing that helps explain the reasons behind this rule, except for a comment that says "Network interface IPs of NLB". It seems that the purpose of the rule was to open HTTP traffic to the world.

[2022-01-10 11:43] mablanco commented on #1475
The `cidr_blocks` parameter in a `aws_security_group_rule` block refers to either the source (`ingress`) or the destination (`egress`) of the traffic managed by the rule. Therefore, I think that we can definitely assume the purpose of this rule to be to accept traffic only from the NLB.

I'm going to modify the `cidr_blocks` parameter to reflect the NLB IPs and to delete the `from_port` one (it ma

[2022-01-10 12:27] mablanco commented on #1475
I fear it isn't possible to modify the `cidr_blocks` parameter to reflect the NLB IP, as this is dynamically assigned and unknown to Terraform. Besides, Network Load Balancers don't have SGs. More on this issue in https://github.com/hashicorp/terraform-provider-aws/pull/2901#issue-286976429

As the NLB is already connected to the VPC through a LB target group, the LB is attached to 2 private subne

[2022-01-10 12:39] zimny commented on #1475
@mablanco 2nd option is too big overhead for the accelerator, having 0.0.0.0 is the only viable option I think.

[2022-01-10 17:34] mablanco commented on #1474
I've checked that the S3 bucket defined in the `storage.tf` file is not being used elsewhere in the code. According to the infra diagram (https://github.com/nearform/titus/blob/master/docs/devops/aws/infra.png), there should be one and only one S3 bucket, whose purpose is to serve static files when Cloudfront asks for them. Therefore, the S3 bucket defined in the `storage.tf` file and the one refe

[2022-01-10 17:47] mablanco commented on #1476
After checking the code, I can confirm that the chain API Gateway > VPC PrivateLink > NLB is correctly defined.

[2022-01-10 18:16] mablanco commented on #1474
I've connected the CDN distribution with the S3 bucket and restricted access to its content by using an OAI.

[2022-01-11 08:11] #1475 closed

[2022-01-11 09:23] mablanco commented on #1476
The `domain_name` attribute in the API origin block needs to point to the invoke URL of the API Gateway deployment.

[2022-01-11 10:08] mablanco commented on #1474
Reopening issue to deploy infra and check it live.

[2022-01-12 08:10] mablanco commented on #1476
Solved in commit b756c90

[2022-01-12 08:28] mablanco commented on #1474
Comments in PR #1479.

[2022-01-12 08:28] #1474 closed

[2022-01-12 08:28] #1476 closed

[2022-01-12 08:33] mablanco commented on #1477
I will start adding a placeholder `index.html` file in the S3 bucket to make sure we have a working stack just after deployment.

[2022-01-12 13:50] mablanco commented on #1477
I've been able to upload a static placeholder website (https://github.com/sebastian9486/static-placeholder-website) from TF. Now you get a functional endpoint through Cloudfront when you deploy the infra with Terraform (it's also completely destroyed following the instructions in the README file).

[2022-01-12 13:51] mablanco commented on #1477
I've also improved the README, fixed a few erratas and checked that the info and the diagram are up to date.

@zimny is this enough to solve this issue or is there anything else required?

[2022-01-13 09:00] #1477 closed

[2022-01-19 15:36] kurtmilam opened #1481 "Invalid regexes used to check whether the back end and database manager services are running in production mode."
The regexes used to set `config.isProduction` in both services are invalid, always returning `false`, no matter what  value `NODE_ENV` is set to in the respective `.env` file.

Here's the back end code:

https://github.com/nearform/titus/blob/71723b21dacdbd2229f5d6cd0cb10b0924d12e70/packages/titus-backend/lib/config/index.js#L54

And the database manager code:

https://github.com/nearform/titus/bl

[2022-01-20 09:56] hails opened #1483 "Introduction of a `utils` module"
As pointed out in #1481, we have multiple projects in the monorepo and we could leverage a `utils` module with reusable functions shared across the repo.
I personally don't have anything specific in mind but I thought it would be nice to get the conversation started.

[2022-01-20 10:55] simoneb commented on #1483
I like the idea, which would allow us to show how to create a package which can be used by multiple other packages.

[2022-01-20 10:58] mcollina commented on #1483
Let's build this as an independent piece as much as possible, we might consider extracting it and publishing on npm.

[2022-01-20 10:59] simoneb commented on #1483
@mcollina I don't think this module would contain anything that's useful outside of this monorepo really, and the main benefit of having this inside the monorepo is to show how to have one package of the monorepo used across other packages, be them either FE or BE

[2022-01-20 15:59] #1481 closed

[2022-01-20 16:01] hails opened #1484 "Devise a new mechanism to detect in which environment the application is running"
Currently, we're relying on `NODE_ENV` to detect in which environment a titus application is running.
For example, I've recently introduced a [change](https://github.com/nearform/titus/pull/1482) on how we detect if the application is running in a production environment.
One approach would be setting a custom environment variable instead.

[2022-01-20 16:02] hails commented on #1484
cc @mcollina

[2022-01-20 16:04] simoneb commented on #1484
please reference your other PR so it's easier to see all the current occurrences where it is being used

[2022-01-20 16:07] kurtmilam commented on #1483
We have a `utils` package in our titus-based solution that contains a number of different functions we reuse across different services. We've split our titus up in to a `pkg-srg` directory, holding the services that we will deploy, and a `pkg-lib`  library that holds libraries we plan to publish to private npm (although we're vendoring the libraries in there for now).

Currently, we have a general

[2022-02-02 17:02] krisgrint opened #1487 "Tests failing in titus-lib after Chalk major version bump"
#1387 bumped [Chalk to v5.0.0](https://github.com/chalk/chalk/releases/tag/v5.0.0) in the titus-lib directory.

This package is now ESM only which is causing the unit tests, which are using CJS, to fail (also the tests for this lib do not look to be run as part of the CI).

It's also preventing the config environment scripts from running correctly, e.g. `npm run create:env`.

Example error:

`Erro

[2022-02-02 17:04] simoneb commented on #1487
any thoughts why builds didn't fail with the bump?

[2022-02-02 17:25] krisgrint commented on #1487
The [builds passed](https://github.com/nearform/titus/pull/1387/checks) because Chalk was also bumped in the devDependencies of `titus-frontend` in the same PR, which meant the frontend-ci check was triggered. However it looks like Chalk is only a transitive dependency in that package, although it is listed in devDependencies.

I don't think we have any CI trigger set up to run tests when changes

[2022-02-02 17:37] simoneb commented on #1487
Good catch. Yes, let's address this issue so that we catch this the next time it happens.

As for your first question, I don't have strong opinions but I'm perfectly fine with ignoring bumps of that package and pin the working version. By pinning I actually mean telling dependabot to stop suggesting bumps.

[2022-02-03 10:36] #1487 closed

[2022-04-12 14:13] fahric commented on #1484
assignee: @fahric

[2022-04-12 14:28] fahric commented on #1484
- [ ] add IS_PRODUCTION env variable to titus-backend, titus-backend-typescript and titus-db-manager.
- [ ] Make use of the new env variable in the config

[2022-04-15 15:14] #1484 closed

[2022-04-25 15:40] ital0sant0s opened #1517 "TITUS - Add a manual trigger to workflow Backend CD to GCP"
In some situations we may want to trigger the workflow manually, for example with a change at Terraform files this workflow will not be triggered automatically which is expected, nevertheless we still want to trigger this workflow to be sure that everything is working as expected.

[2022-04-27 11:29] #1517 closed

[2022-05-02 17:38] SaundersB opened #1520 "Plans to move from lerna? What replacement?"
Does Titus want to use Nx.dev, Turborepo, otherwise?

[2022-05-03 01:18] simoneb commented on #1520
No concrete plans at the moment. We did an (unsuccessful) experiment with npm workspaces a while ago and we didn't go further. Do you have any experience and can you recommend an alternative to lerna? We realize that lerna is now unmaintained but we didn't see a compelling reason to move away from it, since it still largely does the job.

[2022-05-04 04:06] SaundersB commented on #1520
I've used NX.dev and can appreciate all the benefits NX.dev provides. I can check in later to see if plans change to move away from lerna for titus. Would be curious to see how things play out.

[2022-05-04 07:58] simoneb commented on #1520
Apart from lerna being unmaintained, are there any specific issues you're having with it being used in this repository?

[2022-05-04 19:53] SaundersB commented on #1520
Nothing otherwise! Happy to close this. :) Thank you.

[2022-05-05 09:14] simoneb commented on #1520
Let's keep this open, we'd like to migrate away from lerna at some point. We have been trying in https://github.com/nearform/graphql-hooks/issues/827 but didn't manage to go very far yet. Starting from scratch with other monorepo tools is much easier than migrating an existing codebase it seems.

[2022-07-08 08:08] zaremba-tomasz opened #1530 "Unable to build Docker image"
Docker image is not building for each of the Titus app modules. The following error occurs:

[code]

[2022-07-08 10:43] #1530 closed

[2022-07-12 15:31] katie-roberts opened #1533 "Chore : titus going into reference mode"
Titus will no longer be actively maintained as per TSR discussion 17 June.

It will be kept public for reference purposes

[2022-07-13 07:36] toni-sharpe opened #1534 "Truncate bug with cascade"
Truncate needs CASCADE to avoid "cannot truncate a table referenced in a foreign key constraint" errors

Following this: https://stackoverflow.com/a/56700574

[2022-07-13 08:05] #1534 closed

[2022-09-16 08:29] #1533 closed

[2022-09-19 08:45] #923 closed